@charset "UTF-8";
/*
 *  DT173G - Moment 3 (Del 2)
 *  Fredrik Blank
 */
/* Import */
/*
 *  DT173G - Moment 3 (Del 2)
 *  Fredrik Blank
 */
body, div, p, span {
  margin: 0;
  padding: 0; }

/* 
    Variabel (true/false) 
    Sätt denna till true för dark mode
*/
/* Font */
/* Färger */
/* Mixins */
/* Extend/Inheritance */
body, .menu {
  margin: 0;
  padding: 0; }

html, body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px; }

h1 {
  font-size: 2em;
  margin-bottom: .5em; }

h2 {
  font-size: 1.6em; }

h3 {
  font-size: 1.4em; }

h4 {
  font-size: 1.2em; }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

html {
  background:   #eee; }

#wrapper {
  flex: 1; }

footer {
  background: #c19f81;
  padding: 2em;
  color: #fafafa;
  text-align: center; }

.container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  background: #fafafa;
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

.header {
  position: relative; }

#splash {
  position: absolute;
  -webkit-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  transform: rotate(20deg);
  background: #fafafa;
  right: 5%;
  top: 10%;
  border: 1px solid #84867b; }

.content {
  padding: 1em; }

hr {
  border: 0;
  height: 1px;
  background: #ccc; }

img.responsive {
  max-width: 100%;
  height: auto; }

.menu {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  /* Nästlade element */ }
  .menu li {
    flex: 1;
    border: 1px solid #fafafa; }
    .menu li a {
      display: block;
      padding: 1em;
      background: #84867b;
      width: auto;
      text-align: center;
      text-decoration: none;
      color: #fafafa; }
    .menu li a:hover {
      background: #fafafa;
      color: #333; }

@media screen and (max-width: 640px) {
  .menu {
    flex-direction: column; } }
